body {
    background-image: url("Images_09/I.jpg");
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 15px;
}


.container {
    background-color: #ffffff10;
    padding: 9em;
    border-radius: 30px;
    width: 500px;
   
}

h1 {
    text-align: center;
    color: rgb(215, 252, 8);
    height: 95px;
}

.input-group {
    margin-bottom: 15px;

}

label {
    display: inline;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    height: 30px;
}

button {
    width: 60%;
    padding: 10px;
    background-color: #092beb;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: #f0f0f0;
}

.error-message {
    color: red;
    text-align: center;
    border-radius: 30px;
    height: 30px;
}